body {
    height: 100%;
}

label {
    color: #c4c9cd;
    font-size: 0.8rem;
}

.payment-input {
    border: 1px solid #c4c4c4 !important;
    background-color: #eceff1;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.card-details {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#exp-date,
#cvv {
    width: 200px;
}

input:focus {
    border: 2px solid #007bff; 
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#check-out {
    min-height: 530px;
}

.payment-box {
    width: 95%;
    height: 100%;
    justify-content: flex-start;
}

.cart-box {
    background-color: #eceff1;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 20px; 
    
}

.product-img {
    width: 80px;
    height: 80px;
}

.cart-box .product-box {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-top: 10px;
}

.cart-box .detail-box {
    display: flex;
    margin-left: 10px; 
    padding: 10px;
    flex-grow: 1;
}

.cart-box .cart-price {
    font-weight: 500;
    margin-bottom: 5px;
    text-align: right;
}

.cart-box img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-right: 10px;
}

.cart-box .cart-product-title {
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 5px; 
}

.cart-box .cart-price {
    font-weight: 500;
    margin-bottom: 5px; 
}

.cart-box .cart-quantity {
    font-weight: 500;
    color: #777;
    margin-bottom: 10px; 
}

.product-cart-price {
    display: flex;
    align-items: flex-end; 
    flex-direction: column;
    width: 100px;
    margin-left: auto;
}

.total {
    width: 90%;
    display: flex;
    justify-content: space-between; 
}


.total {
    margin-top: 10px;
}

.total .total-title {
    font-size: 1rem;
}

.total .total-price {
    font-weight: 500;
    text-align: right;
    font-size: 1.5rem;
}


.card-details-title {
    font-weight: 400;
    margin-bottom: 10px;
}